################################################################################
# This configuration file can be read by different editors and IDEs to help
# unify the coding style. Have a look at the project's website for a
# list of available editor plugins.
#
# Project's website: http://EditorConfig.org
# Option reference : https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
################################################################################


# Top-most editorconfig file
root = false

# C/C++ source code files
[*.{c,cxx,cpp,cc,h,hxx,hpp,hh}]
indent_brace_style = Allman
indent_style = tab
indent_size = 4

# Makefiles
[{Makefile,*.mk}]
indent_style = tab
trim_trailing_whitespace = false

# YAML
[*.yml]
indent_style = space
indent_size = 2
